<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'main' %>
    <%= stylesheet_pack_tag 'chat_app.css'%>
  </head>

  <body>
    <button class="btn btn-primary">fffffff</button>
    <%= yield %>
  </body>
</html>
